<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Company</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/home/about" class="nav-link">About</a></li>
      <li class="nav-item"><a routerLink="/home/contact" class="nav-link">Contact</a></li>
      <li class="nav-item"><a routerLink="/home/login" class="nav-link">Login</a></li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 20px;">
  <router-outlet></router-outlet>
</div>