<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Employee</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a routerLink="/employee" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/employee/editProfile" class="nav-link">Edit Profile</a></li>
      <li class="nav-item"><a routerLink="/employee/meetings" class="nav-link">Meetings</a></li>
      <li class="nav-item"><a routerLink="/employee/leaves" class="nav-link">Leaves</a></li>
      <li class="nav-item"><a routerLink="/employee/queries" class="nav-link">Queries</a></li>
      <li class="nav-item"><a routerLink="/employee/salaryslip" class="nav-link">View Salary Slip</a></li>
      <li (click)="onLogout()" class="nav-item"><a class="nav-link">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 20px;">
  <router-outlet></router-outlet>
</div>