<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a routerLink="/admin/add-new-employee" class="nav-link">Add New Employee</a></li>
      <li class="nav-item"><a routerLink="/admin/leaves" class="nav-link">leaves</a></li>
      <li class="nav-item"><a routerLink="/admin/meetings" class="nav-link">meetings</a></li>
      <li class="nav-item"><a routerLink="/admin/queries" class="nav-link">Queries</a></li>
      <li class="nav-item"><a routerLink="/admin/search-employee" class="nav-link">Queries</a></li>
      <li (click)="onLogout()" class="nav-item"><a class="nav-link">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 20px;">
  <router-outlet></router-outlet>
</div>